/*================= DARK THEME =====================*/
$background-dark: #121212;
$item-background-dark: #161616;
$text-color-main-dark: #fcfcfc;
$text-color-second-dark: #9ca3af;

/*================= LIGHT THEME =====================*/
$background-light: #f3f4f6;
$item-background-light: #fcfcfc;
$text-color-main-light: #161616;
$text-color-second-light: #757d8c;